.flexRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 5px;
}

.contries {
  min-width: 90px;
  margin-left: 10px;
  margin-right: 10px;
}

.pupulation {
  min-width: 170px;
  margin-left: 10px;
  margin-right: 10px;
}
